*{
    margin: 0;
    padding: 0;
    /* font-size: medium; */
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    /* font-weight: 500; */
}

#headercontainer{
    width: 100%;
    height: 120px;
    border-bottom: 1px solid rgb(160, 157, 157);
    /* position: fixed; */
    background-color: white;
    /* z-index: 7; */
    
}
#head1{
    width:100% ;
    height: 70px;
    border-bottom: 1px solid rgb(160, 157, 157);
    display: flex;
    position: relative;
    justify-content: space-around;
}
#head1>div:nth-child(1)>img{
    margin-left: 10px;

}
#head1>div:nth-child(2)>input{
    width: 400px;
    height: 45px;
    margin-top: 10px;
    padding-left: 40px;
    font-family: "Mier book";
}
#searchbar{
    margin-left: 0px;
    margin-right: 150px;
}
#searchbar>i{
    position: absolute;
    left: 260px;
    top: 30px;
}
#searchbar>input{
    border-radius: 5px;
    border: 1px solid rgb(160, 157, 157) ;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
}
#head2{
    width:100% ;
    height:50px ;
}

#nav{
    /* width: 30%; */
    display: flex;
    justify-content: space-around;
    /* margin-left: 50px; */
    margin-right: 20px;
}
#nav>div{
    width: 150px;
    margin-top: 10px;
    height: 35px;
    padding-top: 10px;
   padding-left: 5px;
   
}
#nav>div:nth-child(2){
    border-left: 1px solid rgb(160, 157, 157);
    border-right: 1px solid rgb(160, 157, 157);
}
#nav>div:nth-child(3){
   justify-content: space-around;
}
#nav>div:nth-child(3)>div>i{
   padding-left: 5px;
}
#head2{
    width: 100%;
    height: 50px;
}
#head2>ul{
    justify-content: space-around;
    align-items: center;
}
#head2>ul>li{
    list-style: none;
    padding-top: 13px;
   
}
#body{
    width: 100%;
    /* height: 600px; */
}
/* #body>div{
    margin: auto;
} */
#body>div>img{
    width: 80%;
    margin-left: 130px;
    margin-bottom: 30px;
    margin-top: 10px;
}
#body2{
    width: 100%;
}
#left{
    width:25% ;
    /* border: 1px solid black; */
    height: 900px;
}
#left>div:nth-child(2)>div>label{
    line-height: 35px;
}
.in{
    padding-left: 20px;
}
#right{
    width: 75%;
    /* border: 1px solid black; */
    /* height: 900px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#right>div{
    width: 22%;
    height: 360px;
    border: 1px solid rgb(194, 191, 191);
    border-radius: 10px;
    margin: 10px 0px;
}
#right>div>img{
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}
#right>div>p{
    margin-left: 10px;
}
#footer{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
    justify-content: space-around;
    margin-top: 50px;
}
#footer>div:nth-child(1){
    width: 30%;
    /* border: 1px solid blue; */
}
#footer>div:nth-child(2){
    width:15%;
    /* border: 1px solid blue; */
}
#footer>div:nth-child(3){
    width: 15%;
    /* border: 1px solid blue; */
}
#footer>div:nth-child(4){
    width: 12%;
    /* border: 1px solid blue; */
}
#footer>div:nth-child(5){
    width: 18%;
    /* border: 1px solid blue; */
}
#footer>div:nth-child(1)>div>img{
    width: 190px;
    height: 40px;

}
#footer>div:nth-child(1)>p{
    line-height: 25px;
}
#footer>div:nth-child(2)>p{
    line-height: 35px;
}
#footer>div:nth-child(3)>p{
    line-height: 35px;
}
#footer>div:nth-child(4)>p{
    line-height: 25px;
}
#footer>div:nth-child(5)>p{
    line-height: 15px;
    font-size: small;
}